body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}







/*********************************
    DEBUG
*********************************/

.debug header {
    background-color: purple;
}

.debug .topbar {
    height: 80px;
}

.debug .box-1 {
    height: 50px;
    background-color: yellow;
    border: 5px solid black;
}

.debug .box-2 {
    height: 200px;
    background-color: orange;
    border: 5px solid black;
}

.debug .jumbotron {
    background-color: palevioletred;
}