body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/*************************************
    DEBUG CLASS FOR BODY LAYOUT
*************************************/

.debug header,
.debug footer {
    background-color: greenyellow;
}

.debug ._topbar {
    height: 80px;
}

.debug ._box_1 {
    height: 50px;
    background-color: yellow;
    border: 5px solid black;
}

.debug ._box_2 {
    height: 200px;
    background-color: orange;
    border: 5px solid black;
}

.debug ._jumbotron,
.debug ._about {
    background-color: palevioletred;
}

.debug ._bottom_bar {
    background-color: aqua;
}